// Функция подключения шрифтов Google
/* @mixin google-font-load($name) {
    @import url(https://fonts.googleapis.com/css?family=#($name)); //используем шаблонизатор SASS для указания того, что здесь используется именно переменная $name и это не часть url. Шаблонизатор выглядит так: #($var-name). $var-name - имя переменной
} */
@mixin menuItem() {
    a {
        text-decoration: none;
        font-size: $font_base;
        padding: 10px 15px;
        align-self: center;
    }
    @include md(display,flex);
    @include md(align-items,center);
    @include md(justify-content,center);
    @include md(width,95%);
    @include md(opacity,0);
    @include md(visibility,hidden);
}